        .bg-p-cover {
            background-position: bottom;
            background-repeat: no-repeat;
            background-size: 150%;
          /*  background-image: url("../imgs/bg_sm.jpg");*/
            animation: bganimate 60s 1;
            overflow: hidden;
        }
        
h2.card-title{
  font-size:1.5rem;
}

        .nav-link {
            color: #fff;
            border-bottom: 0.25rem solid rgba(255, 255, 255, 0.0);
            transition: border-bottom 0.5s;
        }
        
        .nav-link:hover {
            color: #fff;
            border-bottom: 0.25rem solid rgba(255, 255, 255, 0.7);
        }
        
        @media (min-width:768px) {
            .bg-p-cover {
                background-size: 100%;
              /*  background-image: url("../imgs/bg_md.jpg");*/
            }
        }
        
        @media (min-width:1200px) {
            .bg-p-cover {
             /*   background-image: url("../imgs/bg_lg.jpg");*/
            }
        }
        
        @keyframes bganimate {
            50% {
                background-position: top right;
            }
        }

 .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      /*Burbuja*/

.burbuja{
    
    border-radius: 50%;
    background:#ffff;
    opacity: .3;

    position: absolute;
    bottom: -150;
    

    animation: burbujas 3s linear infinite;
}

.burbuja:nth-child(1){
    width: 80px;
    height: 80px;
    left: 5%;
    animation-duration: 3s;
    animation-delay: 3s;
}


.burbuja:nth-child(2){
    width: 100px;
    height: 100px;
    left: 35%;
    animation-duration: 3s;
    animation-delay: 5s;
}


.burbuja:nth-child(3){
    width: 20px;
    height: 20px;
    left: 15%;
    animation-duration: 1.5s;
    animation-delay: 7s;
}


.burbuja:nth-child(4){
    width: 50px;
    height: 50px;
    left: 90%;
    animation-duration: 6s;
    animation-delay: 3s;
}


.burbuja:nth-child(5){
    width: 70px;
    height: 70px;
    left: 65%;
    animation-duration: 3s;
    animation-delay: 1s;
}


.burbuja:nth-child(6){
    width: 20px;
    height: 20px;
    left: 50%;
    animation-duration: 4s;
    animation-delay: 5s;
}


.burbuja:nth-child(7){
    width: 20px;
    height: 20px;
    left: 50%;
    animation-duration: 4s;
    animation-delay: 5s;
}


.burbuja:nth-child(8){
    width: 100px;
    height: 100px;
    left: 52%;
    animation-duration: 5s;
    animation-delay: 5s;
}


.burbuja:nth-child(9){
    width: 65px;
    height: 65px;
    left: 51%;
    animation-duration: 3s;
    animation-delay: 2s;
}


.burbuja:nth-child(10){
    width: 40px;
    height: 40px;
    left: 35%;
    animation-duration: 4s;
    animation-delay: 3s;
}

@keyframes burbujas{

    0%{

        bottom: 0;
        opacity: 0;
        
    }
    30%{

        transform: translateX(30px);
    }
    50%{

        opacity: .4;

    }
    100%{

        bottom: 100vh;
        opacity: 0;
    }
}